{% extends 'frame/base.html' %}

{% block title %}{{ comp.fullname }} - 寶晶紙本公文{% endblock %}
{% block content %}
  <section id="doclist" class="py-3">
    <div class="container py-3">
      <h1 class="my-3">{{ comp.fullname }} - 公文一覽</h1>
      <div class="col-12 my-3">
        <a role="button" class="btn btn-primary" href="{% url 'Doc_add' %}?comp_id={{ comp.id }}">新增</a>
        <a role="button" class="btn btn-danger" href="{% url 'Comp_index' %}?comp_id={{ comp.id }}">回公司列表</a>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">發文日期</th>
                  <th scope="col">公司</th>
                  <th scope="col">部門</th>
                  <th scope="col">發文字號</th>
                  <th scope="col">發文人</th>
                  <th scope="col">主旨</th>
                  <th scope="col">新增日期</th>
                </tr>
              </thead>
              <tbody>
                {% for doc in doc_list %}
                <tr>
                  <td>{{ doc.pubdate|date:"Y-m-d" }}</td>
                  <td>{{ doc.comp }}</td>
                  <td>{{ doc.dept }}</td>
                  <td>{{ doc.fullsn }}</td>
                  <td>{{ doc.author.last_name }}{{ doc.author.first_name }}</td>
                  <td>{{ doc.title }}</td>
                  <td>{{ doc.addtime|date:"Y-m-d" }}</td>
                </tr>
                {% empty %}
                  <tr>
                    <td colspan="7" class="text-center"> 目前沒有公文或沒有權限觀看。 </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}