{% extends 'frame/base.html' %}

{% block title %}{{ comp.fullname }} - 寶晶紙本公文{% endblock %}
{% block css %}
  <link href="/static/custom/page.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
      var sendoptions = {
        valueNames: [ 'pubdate', 'company', 'dept', 'fullsn', 'name', 'abstract', 'addtime' ],
        page: 10,
        pagination: [{
            name: "pagination",
            paginationClass: "pagination",
            innerWindow: 1,
            outerWindow: 1,
        }],
      };
      var receiveoptions = {
        valueNames: [ 'pubdate', 'company', 'dept', 'fullsn', 'name', 'abstract', 'addtime' ],
        page: 10,
        pagination: [{
            name: "pagination",
            paginationClass: "pagination",
            innerWindow: 1,
            outerWindow: 1,
        }],
      };
      /*table = id of the div */
      var sendList = new List('sendtable', sendoptions);
      var receiveList = new List('receivetable', receiveoptions);
    </script>
{% endblock %}
{% block content %}
  <section id="doclist" class="py-3">
    <div class="container py-3">
      <h1 class="my-3">{{ comp.fullname }} - 公文一覽</h1>
      <div class="row">
        <div class="col-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" id="home-tab" data-toggle="tab" href="#send" role="tab" aria-controls="home" aria-selected="true">發文一覽 <span class="badge badge-pill badge-primary">{{ doc_list.count }}</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" id="profile-tab" data-toggle="tab" href="#receive" role="tab" aria-controls="profile" aria-selected="false">收文一覽 <span class="badge badge-pill badge-primary">{{ rcv_list.count }}</span></a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="send" role="tabpanel" aria-labelledby="send-tab">
              <!-- tab content 1-->
              <div class="row">
                <div class="col-12">
                  {% if comp.valid %}
                    <a role="button" class="btn btn-primary" href="{% url 'Doc_add' %}?comp_id={{ comp.id }}">新增發文</a>
                  {% endif %}
                  <a role="button" class="btn btn-secondary my-3" href="{% url 'Doc_index' %}">回發文列表</a>
                  <div class="table-responsive" id="sendtable">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">搜尋發文...</span>
                      </div>
                      <input type="text" class="search form-control" placeholder="輸入關鍵字" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col" class="sort" data-sort="pubdate">發文日期</th>
                          <th scope="col" class="sort" data-sort="dept">部門</th>
                          <th scope="col" class="sort" data-sort="fullsn">發文字號</th>
                          <th scope="col" class="sort fit" data-sort="name">發文人</th>
                          <th scope="col" class="sort" data-sort="abstract">主旨</th>
                          <th scope="col" class="sort" data-sort="addtime">新增日期</th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        {% for doc in doc_list %}
                        <tr>
                          <td class="pubdate">{{ doc.pubdate|date:"Y-m-d" }}</td>
                          <td class="dept">{{ doc.dept }}</td>
                          <td class="fullsn"><a href="{% url 'Doc_add_result' doc.id %}">{{ doc.fullsn }}</a></td>
                          <td class="name">{{ doc.author.last_name }}{{ doc.author.first_name }}</td>
                          <td class="abstract nonfit">{{ doc.title }}</td>
                          <td class="addtime">{{ doc.addtime|date:"Y-m-d" }}</td>
                        </tr>
                        {% empty %}
                          <tr>
                            <td colspan="7" class="text-center"> 目前沒有公文或沒有權限觀看。 </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                      <ul class="pagination"></ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="receive" role="tabpanel" aria-labelledby="receive-tab">
              <!-- tab content 2-->
              <div class="row">
                <div class="col-12">
                  <a role="button" class="btn btn-primary" href="{% url 'Receive_add' %}?comp_id={{ comp.id }}">新增收文</a>
                  <a role="button" class="btn btn-secondary my-3" href="{% url 'Receive_List' %}">回收文列表</a>
                  <div class="table-responsive" id="receivetable">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">搜尋收文...</span>
                      </div>
                      <input type="text" class="search form-control" placeholder="輸入關鍵字" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col" class="sort" data-sort="senddate">來函機關發文日期</th>
                          <th scope="col" class="sort" data-sort="fullsn">收文字號</th>
                          <th scope="col" class="sort fit" data-sort="senddept">來函機關</th>
                          <th scope="col" class="sort" data-sort="sendsn">來函字號</th>
                          <th scope="col" class="sort" data-sort="abstract">主旨</th>
                          <th scope="col" class="sort fit" data-sort="name">收文人</th>
                          <th scope="col" class="sort" data-sort="addtime">新增日期</th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        {% for doc in rcv_list %}
                        <tr>
                          <td class="senddate">{{ doc.senddate|date:"Y-m-d" }}</td>
                          <td class="fullsn"><a href="{% url 'Receive_result' doc.id %}">{{ doc.fullsn }}</a></td>
                          <td class="senddept">{{ doc.senddept }}</td>
                          <td class="sendsn">{{ doc.sendsn }}</td>
                          <td class="abstract nonfit">{{ doc.abstract }}</td>
                          <td class="name">{{ doc.author.last_name }}{{ doc.author.first_name }}</td>
                          <td class="addtime">{{ doc.addtime|date:"Y-m-d" }}</td>
                        </tr>
                        {% empty %}
                          <tr>
                            <td colspan="7" class="text-center"> 目前沒有公文或沒有權限觀看。 </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                      <ul class="pagination"></ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-3">
        <a role="button" class="btn btn-secondary" href="{% url 'Comp_index' %}?comp_id={{ comp.id }}">回公司列表</a>
      </div>
    </div>
  </section>
{% endblock %}