{% extends 'frame/base.html' %}

{% block title %}公司列表 - 寶晶紙本公文{% endblock %}
{% block content %}
  <section id="doclist" class="py-3">
    <div class="container py-3">
      <h1 class="my-3">公司一覽</h1>
      <div class="row">
        <div class="col-5">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">公司名稱</th>
                  <th scope="col">簡稱</th>
                  <th scope="col" class="text-center">公文數量</th>
                </tr>
              </thead>
              <tbody>
                {% for comp in comp_list %}
                <tr>
                  <td><a href="{% url 'Comp_detail' comp.id %}">{{ comp.fullname }}</a></td>
                  <td>{{ comp.shortname }}</td>
                  <td class="text-center">{{ comp.officaldocs.count }}</td>
                </tr>
                {% empty %}
                  <tr>
                    <td colspan="6"> Empty </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}